
.prev, .next{
    background-color: #ee7752;
    color: white;
    margin-right: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    transition: 0.5s ease;
}

.bg-1{
    background-image: url('/assets/fishing.png');
}
.bg-3{
    background-image: url('/assets/tunaschool.png');
    height: 25rem !important;
}
.bg-2 {
    background-image: url('/assets/teams.png');
    height: 40rem !important;
}
@media screen and (max-width: 700px) {
    .bg-2{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .bg-2 .title{
        margin-bottom: 2rem;
    }
    .bg-2 .company-detail {
        font-size: 10px;
        width: 100%;
        margin: 0 2rem;
    }
    .horizontal-divider{
        display: none !important;
    }
}
.bg-2 .title{
    background-color: whitesmoke;
    text-align: center;
    padding: 0.5rem;
    font-size: 25px;
}
.bg-2 .company-detail{
    font-size: 20px;
    padding: 1rem;
    width: 30rem;
    background-color: white;
}
.bg-3 .title{
    background-color: whitesmoke;
    text-align: center;
    padding: 0.5rem;
    font-size: 25px;
}
.bg-1 .home-title-top{
    opacity: 100%;
    display: flex;
    justify-content: end;
    margin-bottom: 1rem;
}
.home-title-top .child{
    color: white;
    width: fit-content;
    font-size: 50px;
    text-align: right;
    background-color: rgb(29, 211, 218);
    padding: 0 0.5rem;
}
.home-title-bottom {
    padding-left: 0.5rem;
    background-color: yellowgreen;
}
.home-title-bottom .child{
    color: white;
    font-size: 30px;
    text-align: left;
    width: 300px;
}
.main-content{
    width: 100vw;
    height: fit-content;
}
.main-content img{
    width: 100%;
}
.slider-container{
    height: fit-content;
    background-color: #23d5ab;
    padding: 2rem;
}
.slider-container h3{
    margin: 0;
    text-align: center;
    color: white;
    margin-bottom: 1rem;
}
.slider-container .slider{
}
.slider-container .slider .content {
    width: 80%;
    margin: 0 auto;
    display: none;
}
.product-title{
    margin: 1rem 0;
    text-align: center;
    font-size: large;
}
.product-desc {
    margin: 0 auto;
    text-align: center;
    width: 55%;
}
.slider-container .slider .content {
    width: 80%;
    margin: 0 auto;
}
.slider-container .slider .content img {
    max-width: 20rem;
}
.button-container-mid{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
.most-selling{
    background-color: #23a6d5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
}
.most-selling .title{
    font-size: 20px;
    color: white;
    text-align: center;
    width: fit-content;
    height: fit-content;
    margin-bottom: 1rem;
    padding: 0.2rem 1rem;
}
.most-selling-content img{
    max-width: 20rem;
}
footer{
    background-color: #3A3845;
    color: white;
    padding: 2rem 0;
    text-align: center;
}
