.main-container{
    background-color: brown;
}
.content{
    display: none;
    margin-top: 1rem;
    background-color: white;
    flex-wrap: wrap;
}
.categories{
    position: absolute;
    top: 20%;
    margin: 0 auto;
    width: 80%;
    padding: 2rem;
}
.container{
    border: solid 1px;
    margin-bottom: 20px;
    background-color: white;
    padding: 0.5rem;
    border-radius: 20px;
}
.toggle{
    font-size: 20px;
    text-align: center;
    border-bottom: solid 1px;
}
